* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.brand-name {
    font-size: 3rem;
    margin: 1rem;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}

.nav-links a:hover {
    background-color: greenyellow;
    color: black;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

@media (max-width: 650px) {
    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links.active {
        display: flex;
    }

}
